.strada {
    font-family: sans-serif;
    }

.siena {
  text-align: center;
}

/* Este código es para pantallas grandes (computadoras) */
nav ul {
  display: flex;
  justify-content: center; /* Centra toda la fila de imágenes */
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0; /* Esto es lo que saca el espacio entre las imágenes */
}

nav ul li img {
  width: 200px; 
  height: auto;
  display: block;
}

/* ---------------------------------------------------- */
/* Este código es para pantallas chicas (celulares)     */
/* ---------------------------------------------------- */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center; 
  }

  nav ul li {
    margin: 10px 0; /* Dejamos este margen para que se separen en celular */
  }

  nav ul li img {
    width: 90%; 
  }
}

header img {
  width: 100%; /* La magia: hace que la imagen ocupe el 100% del ancho */
  height: auto; /* Esto mantiene la proporción para que no se deforme */
  display: block; /* Opcional: evita espacios en blanco debajo de la imagen */
}