.strada {
    font-family: sans-serif;
    }

.siena {
  text-align: center;
}

/* Este c칩digo es para pantallas grandes (computadoras) */
nav ul {
  display: flex;
  justify-content: center; /* Centra toda la fila de im치genes */
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0; /* Esto es lo que saca el espacio entre las im치genes */
}

nav ul li img {
  width: 200px; 
  height: auto;
  display: block;
}

/* ---------------------------------------------------- */
/* Este c칩digo es para pantallas chicas (celulares)     */
/* ---------------------------------------------------- */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center; 
  }

  nav ul li {
    margin: 10px 0; /* Dejamos este margen para que se separen en celular */
  }

  nav ul li img {
    width: 90%; 
  }
}
